In [20]:
import pandas as pd 
df = pd.read_csv("Delhi_Accident_Data.csv",low_memory=False)

In [21]:
df.head()

,YEAR,DISTRICT,VEHICLE AT FAULT,VICTIM,TYPE OF ACCIDENT,# INJURED,# KILLED,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,2008,NORTH WEST DELHI,UNKNOWN,CAR,FATAL ACCIDENT,0,1,NaN,NaN,NaN
1,2008,NORTH WEST DELHI,UNKNOWN,CYCLE,SIMPLE ACCIDENT,1,0,NaN,NaN,NaN
2,2008,NEW DELHI,HTV/GDS,PEDESTRIAN,FATAL ACCIDENT,0,1,NaN,NaN,NaN
3,2008,EAST DELHI,S/C&M/C,PEDESTRIAN,SIMPLE ACCIDENT,1,0,NaN,NaN,NaN
4,2008,SHAHDARA,S/C&M/C,PEDESTRIAN,SIMPLE ACCIDENT,1,0,NaN,NaN,NaN

In [22]:
df= df.drop(columns = ['Unnamed: 7','Unnamed: 8','Unnamed: 9'])

In [23]:
df.head()

,YEAR,DISTRICT,VEHICLE AT FAULT,VICTIM,TYPE OF ACCIDENT,# INJURED,# KILLED
0,2008,NORTH WEST DELHI,UNKNOWN,CAR,FATAL ACCIDENT,0,1
1,2008,NORTH WEST DELHI,UNKNOWN,CYCLE,SIMPLE ACCIDENT,1,0
2,2008,NEW DELHI,HTV/GDS,PEDESTRIAN,FATAL ACCIDENT,0,1
3,2008,EAST DELHI,S/C&M/C,PEDESTRIAN,SIMPLE ACCIDENT,1,0
4,2008,SHAHDARA,S/C&M/C,PEDESTRIAN,SIMPLE ACCIDENT,1,0

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75748 entries, 0 to 75747
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   YEAR              75748 non-null  int64
 1   DISTRICT          75748 non-null  object
 2   VEHICLE AT FAULT  75748 non-null  object
 3   VICTIM            75748 non-null  object
 4   TYPE OF ACCIDENT  75748 non-null  object
 5   # INJURED         75748 non-null  int64
 6   # KILLED          75748 non-null  int64
dtypes: int64(3), object(4)
memory usage: 4.0+ MB

In [25]:
df.describe()    #std it describes how far the data points from the mean value if high std means data points are far from mean value and vice versa
"""in 25% it first sort the data points in ascending order and then find the value which is at 25% position similarly for 50% and 75%"""

'in 25% it first sort the data points in ascending order and then find the value which is at 25% position similarly for 50% and 75%'

In [26]:
df['DANGER_SCORE'] = (df['# KILLED '] * 3) + (df['# INJURED'])

In [27]:
danger_by_district = df.groupby("DISTRICT").agg({      #add injured , killed and danger score for each particukar district
    "# INJURED": "sum",
    "# KILLED ": "sum",
    "DANGER_SCORE": "sum"
}).reset_index()    # add indexes

danger_by_district = danger_by_district.sort_values(by="DANGER_SCORE", ascending=False)

danger_by_district.head(10)

               DISTRICT  # INJURED  # KILLED   DANGER_SCORE
3   NORTH DELHI(ROHINI)       8615       2850         17165
2             NEW DELHI       9025       2400         16225
9      SOUTH EAST DELHI       9359       2233         16058
0         CENTRAL DELHI       7820       2175         14345
10     SOUTH WEST DELHI       7157       1869         12764
12           WEST DELHI       6516       2055         12681
5      NORTH WEST DELHI       6649       1701         11752
1            EAST DELHI       5734       1089          9001
7              SHAHDARA       4899        944          7731
8           SOUTH DELHI       3659        819          6116

In [35]:
danger_by_district.to_csv("delhi_danger_index.csv", index=False)   #index =false Do not write the DataFrameâ€™s index as a column in the CSV file.

In [36]:
print("delhi_danger_index.csv")

delhi_danger_index.csv

In [37]:
data = pd.read_csv("delhi_danger_index.csv")

data.head(10)

              DISTRICT  # INJURED  # KILLED   DANGER_SCORE
0  NORTH DELHI(ROHINI)       8615       2850         17165
1            NEW DELHI       9025       2400         16225
2     SOUTH EAST DELHI       9359       2233         16058
3        CENTRAL DELHI       7820       2175         14345
4     SOUTH WEST DELHI       7157       1869         12764
5           WEST DELHI       6516       2055         12681
6     NORTH WEST DELHI       6649       1701         11752
7           EAST DELHI       5734       1089          9001
8             SHAHDARA       4899        944          7731
9          SOUTH DELHI       3659        819          6116

In [38]:
data.shape

(13, 4)

In [39]:
df.shape

(75748, 8)